@import "./variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;

  .logo {
    flex: 1;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .nav {
    flex: 2;

    .hamburger {
      display: none;
    }

    .nav-list {
      font-weight: 700;
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .promo {
        border-radius: 10px;
        padding: 4px 10px;
        background-color: $Boton_Promo;
      }

      li {
        padding: 4px;
        margin-right: -60px;
        transition: transform 0.3s ease; /* Agrega una transición suave de 0.3 segundos con un efecto ease */
      }
      a {
        text-decoration: none;
      }

      li:last-child {
        margin-right: 0;
      }

      li:hover {
        transform: translateY(-5px);
      }
    }
    /* Este query se queda aquí debido a que no tiene alcance desde responsive, tendría que hacerse ajustes*/
    @media only screen and (max-width: 900px) {
      .hamburger {
        display: block;
        cursor: pointer;

        .line {
          width: 30px;
          height: 3px;
          background: #000;
          margin: 7px;
          margin-left: 60px;
        }
      }
      .nav-list {
        margin-top: 5px;
        margin-bottom: 30px;
        flex-direction: column;
        width: 40vw;
        backdrop-filter: blur(10px);
        transition: opacity 0.5s;
        overflow: hidden;

        .nosotros {
          padding-left: 0;
          margin-left: 0;
        }
        .promo {
          border-radius: initial;
          padding: initial;
          background-color: initial;
        }

        ul {
          display: block;
          width: fit-content;
          transition: 0.5s;
        }

        li {
          text-align: center;
          margin-bottom: 10px;
          opacity: 0;
        }
      }
      .active li {
        margin: 40px auto 0 auto;
        opacity: 1;
      }
    }
  }

  .icons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;

    span {
      img {
        max-width: 15%;
        height: auto;
      }
    }
  }
}
