@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

$Fuente_Principal: "Kumbh Sans", sans-serif;

//Colores
$Boton_Promo: #eda836;
$Descuento: #ff8e8e;
$Calificacion: #d9d9d9;
$ColorPrincipal: #000;
